/**************mixin*****************/
@mixin content{
    max-width: 1232px;
    padding: 4em;
    margin: 0 auto;
}
@mixin contentMobile{
    padding: 4em 1em;
}

/**************mixin*****************/

/**************font*****************/
@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Anton-Regular";
    src: url(../fonts/Anton-Regular.ttf);
}

/**************font*****************/

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins-Regular";
}
html{
    min-height: 100%;
    position: relative;
}
h2{
    font-family: 'Anton-Regular';
    font-size: 48px;
    padding-bottom: 1em;
}
h3{
    font-family: 'Anton-Regular';
    font-size: 32px;
    text-transform: uppercase;
}
.button{
    background: #FC6354;
    color: #fff;
    padding: 12px 40px;
    border-radius: 5px;
}

.menu{
    display: block;
}
.menuppal{
    display: none;
}
.hero__cont{
    position: relative;
    .box{
        position: absolute;
        max-width: 70%;
        top: 11em;
        left:25em;
        h1{
            font-family: 'Anton-Regular';
            color: #fff;
            font-size: 115px;
        }
    }
    .hero__section{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        .hero__background {
            background-image:url('../img/0.jpg');
            background-size: cover;
            height: 800px;
        }
        .hero__color{
            background:#000;
        }
    }
    .menu{
        position: absolute;
        top: 1em;
        width: 100%;
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap:2em;
            li{
                list-style: none;
                a{
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
        nav{
            display: flex;
            .hero__links{
                margin-left: auto;
            }
        }
    }
}

#section__latente{
    max-width: 1232px;
    padding: 4em 4em 0 4em;
    margin: 0 auto;
    h2{
        text-align: center;
        color: #000;
    }
    .latente__description{
        p{
            text-align: center;
        }
    }
}

.latente__reportaje{
    display: grid;
    grid-template-columns: 1fr 1fr;
   /* height: 470px;*/
    min-height: 500px;
    .latente__text{
        background:#000;
        padding: 2em 2em 2em 6em; 
        display: flex;
        align-items: center;
        h3{
            color: #fff;
        }
        p{
            color: #fff;
        }
        .margin__box{
            margin-bottom: 3em;
        }
    }
    .latnte__img{
        background-image:url('../img/1.jpeg');
        background-size: cover;
        height: 470px;
        min-height: 500px;
    }
}
.latente__only__report{
    @include content;
    .first__report{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*grid-template-rows: auto auto;*/
        grid-gap: 2rem;
        .report__text h3{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        img{
            width: 100%;
        }
    }
}

/**************Historia***************/
#section__historia{
    background:#000;
    .historia__video{
        @include content;
        h2{
            color: #FFF;
            text-align: center;
        }
    }
}
.historia__2021{
    @include content;
    display: grid;
    grid-template-columns: 1fr;
    .historia__block h3{
        text-align: center;
        padding-bottom: 1rem;
    }
    aside{
    grid-column: 1/5;
    background: #000;
    padding: 4em;
    color: #fff;
    margin-top: 4rem;
    }
}
.section__fotoreportaje{
    @include content;
    h2{
        text-align: center;
    }
    .fotoreportaje__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
        grid-template-rows: 1fr 1fr;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .babyfutbol__img{
            grid-column: 1 / 2;
            grid-row: 1 / 3; 
        }
        .babyfutbol__text{
            grid-column: 2 / 4;
            grid-row: 1 / 2;
        }
    }
}
.fotoreportaje__article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding-top: 1rem;
    img{
        width: 100%;
    }
}

.section__report__soccer{
    max-width: 1232px;
    padding: 2em 4em 4em 4em;
    margin: 0 auto;
    article{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap:16px;
        background:#000;
        .section__report__soccer__text{
            padding: 4em;
            h3{
                color: #fff;
            }
            p{
                color: #fff;
            }
        }
        .section__report__soccer__img{
            background-image:url('../img/6.jpeg');
            background-size: cover;
            width: 100%;
            min-height: 420px;
        }
    }
}

#section__referentes{
    @include content;
    h2{
        text-align: center;
    }
}

footer{
    background: #f7f7f7;
    .footer__contacto{
        @include content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*********texto show and hide************/
.text-overflow {
    height:120px;
    display:block; 
    overflow:hidden;
    word-break: break-word;
    word-wrap: break-word;
}

.btn-overflow {
  display: none;
  text-decoration: none; 
  color: #FC6354!important;
  cursor: pointer;
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    .menu{
        display: none;
    }
    .menuppal{
        display: block;
    }
     //***menu responsive**//
     .hamburger{
        position:fixed;
        background-color:transparent;
        left:0;
        top:0;
        height:63px;
        width:100%;
        background-color: #000;
        padding:20px 20px;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .hamburger.is-active{
      background-color:none;
    }
    ._layer{
        background:#fff;
        margin-bottom:3px;
        border-radius:2px;
        width:28px;
        height:3px;
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger:hover .-top{
        -webkit-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    .hamburger:hover .-bottom{
        -webkit-transform:translateY(100%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
        }
    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }
    
    .menuppal.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    .menuppal{
       background-color:#000;
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menuppal ul{
      margin-top:5rem;
      padding:0;
    }
    .menuppal ul li { 
        list-style: none;
        text-align:center;
        font-size:16px;
        line-height:3em;
        height:3em;
        color:#fff;
        text-transform:none;
        font-weight:bold;
    }
    .menuppal ul li a{
      text-decoration:none;
      color:#fff;
    }
    .menuppal ul li a:hover{
      text-decoration:none;
      color:#333;
    }
    //**fin menu responsive**//

    
 }

 /*****responsive*****/
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .hero__cont{
        .box{
            left: 0;
            h1{
                font-size: 50px;
            }
        }
        .hero__section{
            grid-template-columns: 1fr;
            .hero__color{
                display: none;
            }
            .hero__background{
                height: 500px;
            }
        }
    } 
    #section__latente{
        @include contentMobile;
    }

    .latente__reportaje{
        grid-template-columns: 1fr;
        .latente__text{
            @include contentMobile;
        }
    }
    .latente__only__report{
        @include contentMobile;
        .first__report{
            grid-template-columns: 1fr;
        }
    }
    #section__historia{
        .historia__video{
            @include contentMobile;
        }
    } 
    .historia__2021{
        @include contentMobile;
        aside{
            padding: 2em;
            margin-top: 1rem;
        }
    }
    .section__fotoreportaje{
        @include contentMobile;
        .fotoreportaje__wrapper{
            grid-template-columns: 1fr;
            .babyfutbol__text{
                grid-column: auto;
                grid-row: auto;
            }
        }
    }
    .fotoreportaje__article{
        grid-template-columns: 1fr;
    }
    .section__report__soccer{
        @include contentMobile; 
        article{
            grid-template-columns: 1fr;
            .section__report__soccer__text{
                padding: 2em;
            }
        }
    }
    #section__referentes{
        @include contentMobile; 
    }
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }



